/* Override Cayman theme colors */
body {
  background-color: #f0f0f0; /* Change the background */
}

.page-header {
  background-image: linear-gradient(135deg, red, green, blue) !important;
  color: white !important;
  background-color: transparent !important; 
}

h2, h3, h4, h5, h6 {
  color: black !important;
}

.page-header h2
{
  color: white !important; /* But keep header text white inside the page header */
}

a {
  color: blue; /* Change link color */
}

hr {
  border: none;
  border-top: 2px solid #a7a7a8; /* or any color you want */
  margin: 2em 0;
}
